In [2]:
import pandas as pd
df=pd.read_csv("../data/reddit_200k_test.csv",encoding="ISO-8859-1")
df.head()

,Unnamed: 0,body,score.x,parent_id.x,id,created_utc.x,retrieved_on,REMOVED
0,1,"Hi Larpo_Nadar, your submission has been remov...",0,t3_74udg6,do15nly,1507377013,1509603985,True
1,2,"So out of every 10,000 children with autism wh...",8,t3_879uw5,dwc3dps,1522107010,1525623538,False
2,3,"When I was pregnant, I was warned against eati...",4,t3_5qo49s,dd1wtw2,1485686073,1486529379,False
3,4,Imagine if this find was the bug that eradicat...,14,t3_5qmr9c,dd0qpcr,1485618726,1486509114,True
4,5,Is it a myth that the math says it would take ...,0,t3_6wtiwg,dmb0sg4,1504050679,1504495504,False